@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jacques+Francois&display=swap');

* {
  cursor: url("/public/retro-cursor.png"), auto;
}

h1 {
  font-family: "Jacques Francois", serif;
  font-size: 24px;
}

h2 {
  font-family: "Jacques Francois", serif;
  font-size: 40px;
  margin: -0.1rem;
}

body {
  background-color: #F4E8D2; 
  align-items: center;
  cursor: url("/public/retro-cursor.png"), auto;
}

.outline-box {
  width: 80%;
  height: 70%;
  border: 10px solid #dcd49c;
  background-color:  #dcd49c;
  border-radius: 10px;
  
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

.inside-box {
  border-radius: 5px;
  background-color: #F4E8D2;
  width: 100%;
  height: 100%;
}

.biography {
  color: #473040;
  padding: 1rem;
  height: 50%;
  width: 50%;
  margin-left: 7.5%;
  padding-top: 10%;
}

.link-box {
  padding-top: 4%;
  align-items: left;

}

.link-text {
  font-family: "Jacques Francois", serif;
  padding-right: 1rem;
  text-decoration: underline;
  color: #473040;
}


.link-text:hover {
  color: #914E56;
  cursor: url("/public/actual-hover.png"), auto;
}